<article class="wine">
  <header>
    <h2><%= @wine.name %></h2>
  </header>
  <p><label>Producer:</label> <%= @wine.winery %></p>
  <p><label>Country:</label> <%= @wine.country %></p>
  <p><label>Year:</label> <%= number_with_delimeter(@wine.year) %></p>
  <p><label>Varietal:</label> <%= @wine.varietal %></p>
</article>
<%= link_to 'All Wines', wines_path %>
